# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.3D Inventory System.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProject\3D Inventory System\.idea\.idea.3D Inventory System\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
